[build-system]
requires = [
    "setuptools>=40.8.0",
    "wheel",
    "torch @ https://download.pytorch.org/whl/cu130/torch-2.9.1%2Bcu130-cp310-cp310-manylinux_2_28_x86_64.whl"
]
build-backend = "setuptools.build_meta"